repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.3
    hooks:
      - id: ruff
        args:
          [--fix, --exit-non-zero-on-fix, --config, ./backend/pyproject.toml]
      - id: ruff-format
  - repo: local
    hooks:
      - id: api-schema
        name: renew api docs
        entry: poetry run --directory backend  ./backend/manage.py spectacular --color --file ./docs/schema.yml
        language: system
        pass_filenames: false
      - id: migration-check
        name: check for missing migrations
        entry: poetry run --directory backend  ./backend/manage.py makemigrations
        language: system
        pass_filenames: false
