ENVIRONMENT=dev

# Admin credentials
DJANGO_SUPERUSER_EMAIL=test@example.com
DJANGO_SUPERUSER_PASSWORD=Test12345
DJANGO_SUPERUSER_FIRST_NAME=oleksandr
DJANGO_SUPERUSER_LAST_NAME=korol
# Secret key
SECRET_KEY=DummyKey
# Database
POSTGRES_DB=checklist-manager
POSTGRES_USER=checklist-manager
POSTGRES_PASSWORD=dummy
DB_HOST=127.0.0.1
DB_PORT=5432


API_URL=http://localhost:8000/api/
#API_URL=http://localhost/api/
# `True` or `False` that defines run app in debug or prod mode
DEBUG=True

#MS dev tunnels to expose demo instance
TUNNEL_ID=123.euw


# The host of application to add to allowed hosts
ALLOWED_HOSTS=localhost,localhost:8000,localhost:3000,127.0.0.1
ALLOWED_ORIGINS=http://localhost:3000,http://localhost
